<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>Submit a recipe</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>Add a new recipe</h1>
				</header>
					
				<!--content-->
				<section class="content full-width wow fadeInUp">
					<div class="submit_recipe container">
						<form action="/products/create" method="POST" enctype="multipart/form-data">
							<section>
								<h2>Basics</h2>
								<p>All fields are required.</p>
								<div class="f-row">
									<div class="full"><input type="text" name="product[title]" placeholder="Product title" /></div>
								</div>
								<div class="f-row">
									<div class="third"><input type="text" placeholder="Quantity" name="product[quantity]" /></div>
									<div class="third"><input type="text" placeholder="Price" name="product[price]"/></div>
									<div class="third">
										<select name="product[category_id]">
											<% @categorys.each do |category| %>
												<option value="<%= category.id %>"><%= category.title %></option>
											<% end %>
										</select>
									</div>
								</div>
								<!-- <div class="f-row">
									<div class="third">
										<select name="product[category_id]">
											<option selected="selected" value="">Select a category</option>
											<% @categorys.each do |category| %>
												<option value="<%= category.id %>"><%= category.title %></option>
											<% end %>
										</select>
									</div>
								</div> -->
							</section>
							
							<section>
								<h2>Description</h2>
								<div class="f-row">
									<div class="full"><textarea placeholder="Product desctiption" name="product[description]"></textarea></div>
								</div>
							</section>	
							
							<!-- <section>
								<h2>Ingredients</h2>
								<div class="f-row ingredient">
									<div class="large"><input type="text" placeholder="Ingredient" /></div>
									<div class="small"><input type="text"  name="product[quantity]" placeholder="Quantity" /></div>
									<div class="third"><select><option selected="selected">Select a category</option></select></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">Add an ingredient</button>
								</div>
							</section>	
							
							<section>
								<h2>Instructions <span>(enter instructions, each step at a time)</span></h2>
								<div class="f-row instruction">
									<div class="full"><input type="text" placeholder="Instructions" /></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">Add a step</button>
								</div>
							</section> -->
							
							<section>
								<h2>Photo</h2>
								<div class="f-row full">
									<input type="file" name="product[photo]" />
								</div>
							</section>	
							
							<section>
								<h2>Status <span>(would you like to further edit this recipe or are you ready to publish it?)</span></h2>
								<div class="f-row full">
									<input type="radio" id="r1" name="product[status]" value="0"/>
									<label for="r1">Out of stock</label>
								</div>
								<div class="f-row full">
									<input type="radio" id="r2" name="product[status]" value="1"/>
									<label for="r2">Availble</label>
								</div>
							</section>
							
							<div class="f-row full">
								<input type="submit" class="button" id="submitRecipe" value="Create Product" />
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>