
	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>Recipes</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>Recipes</h1>
				</header>
				
				<aside class="above-sidebar full-width  wow fadeInDown">
					<ul class="boxed">
						<li class="light"><a href="recipes.html" title="Appetizers"><i class="ico i-appetizers"></i> <span>Apetizers</span></a></li>
						<li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-cocktails"></i> <span>Cocktails</span></a></li>
						<li class="dark"><a href="recipes.html" title="Deserts"><i class="ico i-deserts"></i> <span>Deserts</span></a></li>
						
						<li class="light"><a href="recipes.html" title="Cocktails"><i class="ico i-eggs"></i> <span>Eggs</span></a></li>
						<li class="medium"><a href="recipes.html" title="Equipment"><i class="ico i-equipment"></i> <span>Equipment</span></a></li>
						<li class="dark"><a href="recipes.html" title="Events"><i class="ico i-events"></i> <span>Events</span></a></li>
					
						<li class="light"><a href="recipes.html" title="Fish"><i class="ico i-fish"></i> <span>Fish</span></a></li>
						<li class="medium"><a href="recipes.html" title="Ftness"><i class="ico i-fitness"></i> <span>Fitness</span></a></li>
						<li class="dark"><a href="recipes.html" title="Healthy"><i class="ico i-healthy"></i> <span>Healthy</span></a></li>
						
						<li class="medium"><a href="recipes.html" title="Asian"><i class="ico i-asian"></i> <span>Asian</span></a></li>
						<li class="dark"><a href="recipes.html" title="Mexican"><i class="ico i-mexican"></i> <span>Mexican</span></a></li>
						<li class="light"><a href="recipes.html" title="Pizza"><i class="ico i-pizza"></i> <span>Pizza</span></a></li>
						
						<li class="medium"><a href="recipes.html" title="Kids"><i class="ico i-kids"></i> <span>Kids</span></a></li>
						<li class="dark"><a href="recipes.html" title="Meat"><i class="ico i-meat"></i> <span>Meat</span></a></li>
						<li class="light"><a href="recipes.html" title="Snacks"><i class="ico i-snacks"></i> <span>Snacks</span></a></li>
						
						<li class="medium"><a href="recipes.html" title="Salads"><i class="ico i-salads"></i> <span>Salads</span></a></li>
						<li class="dark"><a href="recipes.html" title="Storage"><i class="ico i-storage"></i> <span>Storage</span></a></li>
						<li class="light"><a href="recipes.html" title="Vegetarian"><i class="ico i-vegetarian"></i> <span>Vegetarian</span></a></li>
					</ul>
				</aside>
				
				<!--content-->
				<section class="content full-width wow fadeInUp">
					<!--entries-->
					<div class="entries row">
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft">
							<figure>
								<img src="/images/img6.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay=".2s">
							<figure>
								<img src="/images/img5.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay=".4s">
							<figure>
								<img src="/images/img8.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay=".6s">
							<figure>
								<img src="/images/img7.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Refreshing banana split with a twist for adults</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay=".8s">
							<figure>
								<img src="/images/img3.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Sushi mania: this is the best sushi you have ever tasted</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="1s">
							<figure>
								<img src="/images/img4.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Princess puffs - an old classic at its best</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth	wow fadeInLeft" data-wow-delay="1.2s">
							<figure>
								<img src="/images/img13.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Tasty salmon apetizers with sour cream</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="1.4s">
							<figure>
								<img src="/images/img14.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">An incredible vegetarian hamburger</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="1.6s">
							<figure>
								<img src="/images/img15.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Spaghetti carbonara with rustic bread</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="1.8s">
							<figure>
								<img src="/images/img16.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Homemade cheesy spinach pizza with an egg on top</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="2s">
							<figure>
								<img src="/images/img17.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Heavenly light and creamy vanilla tart</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-fourth wow fadeInLeft" data-wow-delay="2.2s">
							<figure>
								<img src="/images/img18.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Exquisite plum and cherry pie</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<div class="quicklinks">
							<a href="#" class="button">More recipes</a>
							<a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	


